
* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;

}

textarea {

  height: 100%;

}


h1, h2, h3, h4, h5, h6 {

  text-align: center;
  color:black;

}


#landing-jumbo {

  background-image: url("../images/landing-bg.jpg");

}

#landing-jumbo {

  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #eaeaea;
  color: #339CFF;

}

#main-section {


  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;

}


#main-section #profile-picture {

  padding: 0;

}

#info {

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;  
  /*border: 1px solid green;*/
  background: #3079c2;
  color: white;

}

#info a {

  color: white;

}





#info p {

  text-align: justify;
  text-indent: 25px;
  line-height: 2.0;
  /*border: 1px solid black;*/
  padding: 30px;

}

#info table {

  /*border: 1px solid black;*/

}

/*#info p, #info table {

 border: 1px solid red;

}

#info tr {

  border: 1px solid red;

}*/

#info td{

  text-align: right;
  padding: 10px 0;    

}

#info .icons {

  padding: 40px 20px;

}





/*#info {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color: #339CFF;
  color: white;

}

#info > table {

  /*margin-left: 10%;

}

#info td {

  padding: 20px 20px;
      
}*/


.about-me-p {

  padding: 20px 20px;
  text-indent: 35px;
  text-align: justify;
  text-justify: inter-word;
 /* color: white;
  background-color: #303030;*/
}

.about-me-p > a {

  text-decoration: none;
}


#technologies {

  height: 60vh;
  margin-top: 30px;
  text-align: center;


}


.tech-stack {

  height: 100px;
  margin-top: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}



#html {

  background-image: url("../images/html.png");

}

#css {

  background-image: url("../images/css.png");

}

#js {

  background-image: url("../images/js.png");

}

#bootstrap {

  background-image: url("../images/bootstrap-4.png");

}

#gitlab {

  background-image: url("../images/gitlab.png");

}


#google {

  background-image: url("../images/google.jpeg");

}

#nodejs {

  background-image: url("../images/node-js.png");

}

#expressjs {

  background-image: url("../images/express-js.png");

}


#reactjs {

  background-image: url("../images/react-js.png");

}

#nextjs {

  background-image: url("../images/next-js.png");

}

#mongodb {

   background-image: url("../images/mongodb.png");

}

#postman {

   background-image: url("../images/postman.png");

}

#chartjs {

   background-image: url("../images/chart-js.png");

}

#mapbox {

   background-image: url("../images/mapbox.png");

}

#git {

   background-image: url("../images/git.png");

}

#google-signin{

   background-image: url("../images/google-signin.png");

}

#sublimetext-3{

   background-image: url("../images/sublimetext-3.png");

}

#about-header {

  font-style: italic;
  text-align: center;
}

#skills-header {

    color: #339CFF;
} 

.skills {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.skills > .card {
  
  margin: 20px 0px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 18rem;

}



.carousel-control-prev-icon,
.carousel-control-next-icon {
  
  color:black;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon
{

  margin-left: 100px;
  
}


.carousel-control-prev-icon {

  margin-right: 115px;

}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 50px;
 
}

.carousel-control-prev-icon:after {
  content: '<';
  margin-right: 50px;
  font-size: 50px;
  /*color: black;*/
}


.align-right {

  display: flex;
  justify-content: flex-end;

}


.portfolio-card{

  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
}

.portfolio-card .card-title, .portfolio-card .card-body {

  color: #e9e9e4;
  background-color: #303030;

}


.map-responsive{

    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;

}
.map-responsive iframe{

    left:0;
    top:0;
    height:100%;
    width:100%;
    position: absolute;

}


.contact-form-container h1 {

  color: black;

}

.contact-form-container input, .contact-form-container textarea {

  border-radius: 0;
  border: 1px solid #5a6773;

}


.contact-form-container input:focus, .contact-form-container textarea:focus {

  border: 1px solid black;
 
}


.contact-form-container .btn {

  background-color: #445cb2;
  border-color: #445cb2;

}

input:focus::placeholder {
  color: transparent;
}



/*Remove default blue box on input on focus*/
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}



footer {

  background-color: #5a6773;
  color: white;
}

#fontawesome-nav {

  color: white;
}


#nav-footer a, #fontawesome-nav a {

  text-decoration: none;
  list-style: none;
  color: white;

}


#nav-footer li, #fontawesome-nav li {

  padding: 5px 0px;
  color: white;
}



#nav-footer ul, #fontawesome-nav ul {

  list-style: none;
  margin: 30px 0;
  color: white;

}

